# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**

* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* List of Data Science Tools
* Examples of simple airthmetic expression.

Some of popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
5. TensorFlow
6. Scikit Learn

| Data Science Tools|
|------------------|
|Jupyter Notebook|
|Power BI|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author

Renuka Hebasur